<div class="container-fluid">
  <div class="bg-dark">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-6">
        <a class="navbar-brand nav-stv" href="#">STAY HOME AND PRACTICE FREE FOR 30 DAYS<p><b>USE CODE: STAY HOME</b>
          </p>
        </a>
      </div>
      <div class="col-md-2">
        <button  type="button" class="btn btn-light">START MY PRACTICE</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="navbar navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-item" nav-link=""><img src="./assets/images/yogi-approved-logo-pink-FB-50x50.png" height="20"
            width="20"><b> YogApproved.com</b></a>
      </div>
      <div class="formGroup">
        <div class="col-lg-2 col-md-6">
          <button class="btn" id="btnLogin" data-toggle="modal" data-target="#loginModal">
            <!-- <i class="material-icons">account_circle</i> -->
            Login
            <div class="ripple-container"></div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<nav class="navbar navbar-expand-md bg-light navbar-light container">
  <!-- Brand -->
  <a class="navbar-brand" href="#"></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span><b>CLASSES</b></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#"><b>YOGA</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#"><b>HEALTH + WELLNESS</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#"><b>TRAVEL</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#"><b>FOOD</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#"><b>MORE</b></a>
      </li>
      <li class="nav-item dropdown position-static">
        <a class="nav-link" data-toggle="collapse" data-target=".dropdown-menu" aria-haspopup="true" aria-expanded="false" href="#"><b>CLASSES</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#">Our members have planned 64,144 trees! learn More</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active caro">
          <div class="carousel-caption">
            <h3>Chicago</h3>
            <p>Thank you, Chicago!</p>
          </div>
          <img src="./assets/images/holly.jpeg" class="img-responsive"  alt="Los Angeles">
          
        </div>
        <div class="carousel-item caro">
          <img src="./assets/images/c.jpg" class="img-responsive" alt="Chicago">
          <div class="carousel-caption">
            <h3>Chicago</h3>
            <p>Thank you, Chicago!</p>
          </div>
        </div>
        <div class="carousel-item caro">
          <img src="./assets/images/d.jpg"class="img-responsive" alt="New York">
          <div class="carousel-caption">
            <h3>Chicago</h3>
            <p>Thank you, Chicago!</p>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
<div class="modal fade show" id="loginModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md mt-5" role="document">
    <div class="modal-content">
      <div class="card card-signup">
        <div class="modal-header">
          <div class="card-header card-header-primary text-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                class="material-icons"><b>X</b></i></button>
            <h4 class="card-title">New to site?<b>Create an <br>Account</b></h4>
            <div class="social-line">
              <a href="#pablo" class="btn btn-just-icon btn-link">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-just-icon btn-link">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#pablo" class="btn btn-just-icon btn-link">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="modal-body">
          <form class="form" method="" action="">
            <p class="description text-center"><b>Login</b></p>
            <div class="card-body">
              <label>Username/Email</label>
              <div class="form-group bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                  </div>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <label>Password</label>
              <div class="form-group bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                  </div>
                  <input type="password" placeholder="" class="form-control">
                </div>
              </div>
            </div>
            <button type="submit" class="btn1 btn-primary btn">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>